body{
    background-color: azure; 
    padding: 0;
    margin: 0;

}

h1 {
    text-align: center;
}
h3 {

    text-align: center;
}
header{
    display: block;
    align-items: center;
}

.container{

    width: 640px;
    height: 480px;
    display: flex;
    align-items: center;
    

}

div{
    
    display: flex;
    flex-wrap: wrap;

}

img{
   
  max-width: 160px;
  max-height: 120px;
  margin: 10px;
  border-radius: 80px;

  
}



