body{
    background-color: azure; 
}

h1 {
    text-align: center;
}
h3 {

    text-align: center;
}
header{
    display: block;
    align-items: center;
}

.container{

}

div{
  
    display: flex;
    flex-wrap: wrap;
}

img{
max-width: 160px;
  max-height: 120px;
}



