body{
    background-color: rgb(255, 255, 255); 
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
   
}

h1 {
    text-align: center;
}
h3 {

    text-align: center;
}
header{
    display: block;
    align-items: center;
}

.container{

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:  0 auto;

}

img{
  min-height: 75;
  min-width: 100px;
  max-width: 300px;
  max-height: 150px;
  margin: 5px;
  border-radius: 100px;
  

}
a{

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    background-color:rgb(255, 255, 255);
    padding: 5px;
    border-radius: 10px;
    position:relative
    
}



